# Google Cloud
# Path to your Google Cloud service account key file.
# See https://cloud.google.com/docs/authentication/getting-started
GOOGLE_APPLICATION_CREDENTIALS=

# PostgreSQL
# Connection string for the PostgreSQL database.
DATABASE_URL=postgres://user:password@localhost:5432/storageconnect

# Redis
# Connection string for the Redis server.
REDIS_URL=redis://localhost:6379

# Mocking
# Set to "true" to use mock data for Google Cloud Vision API.
MOCK_VISION=true

# Admin
# Secret token for accessing admin routes.
ADMIN_TOKEN=
